
<mat-toolbar color="primary">
    <span>Product App</span>
    <span class="example-spacer"></span>
    
    <span class="example-spacer"></span>
    <button mat-raised-button color="accent" routerLink="/logout">Logout</button>
    <span class="example-spacer"></span>
    <i class="fa fa-shopping-cart" routerLink='/cart/{{UserName}}'></i>
</mat-toolbar>

<div class="card-layout">
    <div class="card" *ngFor="let product of booking" style="width: 18rem;">
        <img src={{product.imgPath}} class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <h5 class="card-title">{{product.description}}</h5>
            <h5 class="card-title">{{product.price}}</h5>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <a  class="btn btn-primary"  >Buy</a>
            <!-- <button mat-raised-button type= "submit"color="accent" routerLink="deleteProduct">Delete Product</button> -->
        </div>
    </div>

</div>