
<mat-toolbar color="primary">
    <span>Product App</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="accent" routerLink="/register">Register</button>
    <span class="example-spacer"></span>
    <button mat-raised-button color="accent" routerLink="/login">Login</button>
    <!-- <span class="example-spacer"></span>
    <button mat-raised-button color="accent" routerLink="dashboard">Dashboard</button> -->
    
    <span class="example-spacer"></span>
    <button mat-raised-button color="accent" routerLink="/logout">Logout</button>
    <span class="example-spacer"></span>
    <i class="fa fa-shopping-cart" ></i>
</mat-toolbar>

 <!-- <app-dashboard></app-dashboard>  -->
